# Exclure le répertoire de build de Maven
target/

# Exclure les fichiers de l'IDE et les logs
.idea/
.vscode/
*.iml
*.log
logs/

# Exclure fichiers système et dépendances locales
.DS_Store
node_modules/
tmp/

# Exclure le versionnement Git
.git/
.gitignore